
/***************elements**********/
body {
  background-color: hsl(257, 40%, 49%);
  background-image: url(images/bg-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

a { color:  }

p {
  color: white;
  font-family: Open Sans, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1 {
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 2.5em;
}



/*****************this is a background that is full screen, image on background color******/






/***************classes**********/

.header {
  margin: 60px 60px;
}

.header-img {
  height: 80px;
}

.main {
  margin-bottom: -100px;
}


.illustration-mockups {
  float: left;
  width: 50%;

  margin-left: 60px;
  overflow: hidden;
object-fit: cover;

}

.mockup {
height: 100%;
width: 100%;

}

.text {
position: relative;
float: right;
height: 673px;
margin-right: 350px;
}

.button {

display: inline-block;
                    outline: none;
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 1;
                    border-radius: 500px;
                    transition-property: background-color,border-color,color,box-shadow,filter;
                    transition-duration: .3s;
                    border: 1px solid transparent;
                    letter-spacing: 2px;
                    min-width: 160px;
                    text-transform: uppercase;
                    white-space: normal;
                    font-weight: 700;
                    text-align: center;
                    padding: 16px 14px 18px;
                    color: white;
                    box-shadow: inset 0 0 0 2px white;
                    background-color: transparent;
                    height: 48px;

                  }

                  .button:hover {
                        color: #fff;
                        background-color: fuchsia;
                    }


                    /*****************this is footer that sticks to the bottom of the page, combined with body -> min-height: 100vh; ******/

                    .sticky-footer {
                      position: sticky;
                      top: 90%;
                      text-align: center;

                    }


.no-link {
  color: white;

}

.social-media {
position: absolute;
bottom: 0;
right: 0;

}

.fa-brands {
  color: white;
  width: 60px;
  height: 50px;

}
